<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="shortcut icon" href="../static/images/logo-mini.png" />

</head>
<body>
	<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="/login" method="post">
						<h3>SIGN IN</h3>
						<input type="text" name = "email" placeholder="EMAIL">
						<input type="password" name = "password" placeholder="PASSWORD">
						<button class="submit">LET'S GO</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>Accolite Digital</h2>
					<h5>Transforming The Future,Now</h5>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
</body>
</html>
